{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>礼意久久-商品详情</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到礼意久久!</div>
			<div class="fr">
				{% if username %}
				<div class="login_btn fl">
					欢迎您：<em>{{username}}</em>
						<span>|</span>
					<a href="{% url "logout" %}">注销</a>
				</div>
				{% else %}
				<div class="login_btn fl">
					<a href="{% url "login" %}">登录</a>
					<span>|</span>
					<a href="{% url "register" %}">注册</a>
				</div>
				{% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">用户中心</a>
					<span>|</span>
					<a href="{% url "cart" %}">我的购物车</a>
					<span>|</span>
					<a href="{% url "place" %}">我的订单</a>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="cart.html" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="#model01" >饰品 </a></li>
			<li><a href="#model02" >工艺</a></li>
			<li><a href="#model03" >保健品</a></li>
			<li><a href="#model04" >家居用品</a></li>
			<li><a href="#model05" >鲜花</a></li>
			<li><a href="#model06" >印象用品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机鲜花</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
        {% for c in commods %}
		<div class="goods_detail_pic fl"><img src="{% static c.image %}"></div>

		<div class="goods_detail_list fr">

			<h3>{{ c.title }}</h3>
			<p>礼品内：容和田玉苹果吊坠+18K金链子+国家质检证书+高档首饰盒</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ c.price }}</em></span>
			</div>

			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
				</div>
			</div>
			<div class="total">总价：<em>{{ c.price }}元</em></div>

			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="/add_cat/{{c.id}}" class="add_cart" id="add_cart">加入购物车</a>
			</div>
            {% endfor %}
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>礼品情意：</dt>
					<dd>
看过多少风景，经过多少人，喝过多少酒，方才遇见你。昭华如梦，你入梦。有你真好。此生此世，亲爱的，愿你，平安幸福！这条18K金和田玉项链，优雅，美好。都说十年人养玉，十年玉养人，这便如我对你的感情一样，越久，越发醇香四溢，入人心骨。。 </dd>
				</dl>
			</div>

		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>版权所有：2007-2017 LiYi99.COM 礼意久久网络科技有限公司    京ICP证070238号 京ICP备09023754号-5</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	<div class="add_jump"></div>

	<script type="text/javascript" src="js/jquery-1.12.2.js"></script>
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html(2);
					});

			});
		})
	</script>

</body>
</html>